<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading" id="neww">Contact Us</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-4 col-12 mx-auto">


<form action="/contact" method="post">
  <div class="container">
        <h1>login</h1>
        <div class="box">
            <i class="fa fa-envelope"></i>
            <input type="name" placeholder="Enter your name" name="name">
        </div>
        <div class="box">
            <i class="fa fa-envelope"></i>
            <input type="email" placeholder="Enter your email" name="email">
        </div>
        <div class="box">
            <i class="fa fa-unlock-alt"></i>
            <input type="password" placeholder="Enter your password" name="password">
        </div>
        <div>
          <div class="box">
            <i class="fa fa-envelope"></i>
            <input type="text" placeholder="Type your message" name="message">
        </div>
  <input type="submit" class="style" value="Submit"><a href="/"></a>
</form>
</div>
</div>
</div>
</div>
</div>